/*
PAGINA NOSOTROS
*/

.contenedor-info-nosotros {
    border: 2px solid blue;
    width: auto;
    height: 500px;
    padding: 80px;
    .div-parrafo-nosotros{
        justify-content: space-between;
    }
}